.nrp-robot-designer {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'menu main main'
    'menu footer sidebar';
  grid-template-columns: 45px auto 275px;
  grid-template-rows: 35px auto 110px;
  grid-gap: 3px;
  background-color: #333;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.nrp-robot-designer > div {
  background-color: #333;
  color: white;
  padding: 0;
  overflow: hidden;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main {
  grid-area: main;
  background: red;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow-x: scroll !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-grid {
  display: flex;
  flex-direction: row;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.part-icon:hover {
  background-color: #68E;
}

.hidden {
  display: none;
}

[draggable=true] {
    cursor: move;
}

.fas, .menu-item {
  margin: 5px;
}

.fas:hover, .menu-item:hover {
  color: #68E
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.fa-selected {
  color: #6E6;
}
